# Brain Stroke Diagnosos Prediction

In [1]:
import pandas as pd
import numpy as np

In [3]:
# importing the data
data = pd.read_csv("../datasets/train.csv")
test_data = pd.read_csv("../datasets/test.csv")

In [4]:
print(data.shape, test_data.shape)

(15304, 12) (10204, 11)

In [5]:
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,Male,28.0,0,0,Yes,Private,Urban,79.53,31.1,never smoked,0
1,1,Male,33.0,0,0,Yes,Private,Rural,78.44,23.9,formerly smoked,0
2,2,Female,42.0,0,0,Yes,Private,Rural,103.00,40.3,Unknown,0
3,3,Male,56.0,0,0,Yes,Private,Urban,64.87,28.8,never smoked,0
4,4,Female,24.0,0,0,No,Private,Rural,73.36,28.8,never smoked,0

In [6]:
data["stroke"].value_counts()

stroke
0    14672
1      632
Name: count, dtype: int64

In [7]:
# missing values
data.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 15304 non-null  int64
 1   gender             15304 non-null  object
 2   age                15304 non-null  float64
 3   hypertension       15304 non-null  int64
 4   heart_disease      15304 non-null  int64
 5   ever_married       15304 non-null  object
 6   work_type          15304 non-null  object
 7   Residence_type     15304 non-null  object
 8   avg_glucose_level  15304 non-null  float64
 9   bmi                15304 non-null  float64
 10  smoking_status     15304 non-null  object
 11  stroke             15304 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 1.4+ MB

In [9]:
data.sample(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
8933,8933,Male,41.0,0,0,Yes,Private,Urban,83.15,32.1,Unknown,0
9359,9359,Male,43.0,0,0,Yes,Self-employed,Urban,78.59,43.6,smokes,0
9236,9236,Male,49.0,0,0,Yes,Govt_job,Rural,60.22,24.2,smokes,1
2617,2617,Female,20.0,0,0,No,Private,Rural,102.77,21.0,never smoked,0
4766,4766,Female,13.0,0,0,No,children,Rural,70.15,22.2,Unknown,0
8953,8953,Female,18.0,0,0,No,Private,Urban,168.15,23.0,never smoked,0
14788,14788,Female,50.0,0,0,Yes,Private,Rural,91.89,25.5,never smoked,0
10258,10258,Female,59.0,0,0,Yes,Private,Urban,101.56,29.6,formerly smoked,0
10671,10671,Female,47.0,0,0,Yes,Govt_job,Urban,94.71,34.3,formerly smoked,0
12310,12310,Female,40.0,0,0,Yes,Private,Urban,85.66,40.1,smokes,0

In [10]:
data = data.drop("id", axis=1)
data.sample(10)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
12128,Male,47.0,0,0,Yes,Private,Rural,108.68,31.5,smokes,0
8493,Male,49.0,0,0,Yes,Private,Urban,65.88,29.1,never smoked,0
268,Female,53.0,0,0,Yes,Private,Urban,106.12,21.2,never smoked,0
966,Male,42.0,0,0,Yes,Self-employed,Rural,108.07,27.3,never smoked,0
10152,Female,18.0,0,0,No,Private,Urban,91.68,31.3,never smoked,0
2193,Female,66.0,1,0,Yes,Private,Rural,103.76,23.5,formerly smoked,0
2733,Female,17.0,0,0,No,Govt_job,Urban,74.42,27.5,never smoked,0
13753,Female,16.0,0,0,No,Private,Rural,103.45,25.1,never smoked,0
12861,Male,24.0,0,0,Yes,Private,Urban,60.30,26.8,never smoked,0
10431,Female,40.0,0,0,No,Self-employed,Urban,73.00,20.6,Unknown,0

In [11]:
data["work_type"].value_counts()

work_type
Private          9752
children         2038
Self-employed    1939
Govt_job         1533
Never_worked       42
Name: count, dtype: int64

In [12]:
data["smoking_status"].value_counts()

smoking_status
never smoked       6281
Unknown            4543
formerly smoked    2337
smokes             2143
Name: count, dtype: int64

In [13]:
data["Residence_type"].value_counts()

Residence_type
Rural    7664
Urban    7640
Name: count, dtype: int64

In [14]:
data.sample(10)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
13030,Female,46.0,0,0,Yes,Private,Rural,112.41,38.4,smokes,0
10192,Female,59.0,0,0,Yes,Private,Rural,78.43,29.1,never smoked,0
10333,Male,54.0,0,1,Yes,Self-employed,Urban,101.60,34.3,Unknown,0
10704,Female,52.0,0,0,Yes,Govt_job,Rural,57.51,19.2,formerly smoked,0
9482,Female,30.0,0,0,Yes,Private,Urban,70.66,26.4,never smoked,0
6442,Female,29.0,0,0,No,Private,Rural,64.47,26.3,never smoked,0
7172,Female,47.0,0,0,Yes,Private,Urban,70.55,27.7,never smoked,0
737,Female,42.0,0,0,Yes,Govt_job,Urban,87.41,32.2,Unknown,0
1739,Female,18.0,0,0,No,Private,Rural,83.14,32.1,Unknown,0
2562,Female,10.0,0,0,No,children,Urban,97.24,28.9,Unknown,0

In [16]:
data["age"].unique

<bound method Series.unique of 0        28.0
1        33.0
2        42.0
3        56.0
4        24.0
         ...
15299    22.0
15300    46.0
15301    75.0
15302    46.0
15303    14.0
Name: age, Length: 15304, dtype: float64>

In [21]:
data["gender"].value_counts()

gender
Female    9446
Male      5857
Other        1
Name: count, dtype: int64

In [22]:
data["avg_glucose_level"].unique

<bound method Series.unique of 0         79.53
1         78.44
2        103.00
3         64.87
4         73.36
          ...
15299     72.63
15300    101.19
15301     87.69
15302    101.13
15303     85.12
Name: avg_glucose_level, Length: 15304, dtype: float64>

In [23]:
data["bmi"].unique

<bound method Series.unique of 0        31.1
1        23.9
2        40.3
3        28.8
4        28.8
         ...
15299    19.5
15300    32.1
15301    26.2
15302    22.5
15303    24.7
Name: bmi, Length: 15304, dtype: float64>

In [26]:
data["smoking_status"].value_counts()

smoking_status
never smoked       6281
Unknown            4543
formerly smoked    2337
smokes             2143
Name: count, dtype: int64

In [27]:
data.sample(10)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
11684,Male,60.0,0,0,Yes,Private,Rural,170.05,40.2,formerly smoked,1
84,Male,79.0,0,0,Yes,Self-employed,Urban,89.32,35.0,Unknown,0
3491,Female,20.0,0,0,No,Private,Urban,82.61,19.7,Unknown,0
1760,Male,50.0,0,0,Yes,Govt_job,Rural,67.08,21.0,never smoked,0
9808,Female,16.0,0,0,No,Never_worked,Urban,123.49,25.4,never smoked,0
2015,Male,19.0,0,0,No,Private,Rural,81.38,19.5,Unknown,0
12581,Female,18.0,0,0,No,Private,Rural,106.02,24.6,never smoked,0
1947,Female,27.0,0,0,No,Private,Urban,112.97,38.5,Unknown,0
13740,Female,73.0,0,0,Yes,Self-employed,Rural,60.50,26.4,never smoked,0
14323,Female,27.0,0,0,No,Private,Urban,80.27,21.3,never smoked,0