# Brain Stroke Diagnosos Prediction

In [37]:
import pandas as pd
import numpy as np

In [38]:
# importing the data
data = pd.read_csv("../datasets/train.csv")
test_data = pd.read_csv("../datasets/test.csv")

In [39]:
print(data.shape, test_data.shape)

(15304, 12) (10204, 11)

In [40]:
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,Male,28.0,0,0,Yes,Private,Urban,79.53,31.1,never smoked,0
1,1,Male,33.0,0,0,Yes,Private,Rural,78.44,23.9,formerly smoked,0
2,2,Female,42.0,0,0,Yes,Private,Rural,103.00,40.3,Unknown,0
3,3,Male,56.0,0,0,Yes,Private,Urban,64.87,28.8,never smoked,0
4,4,Female,24.0,0,0,No,Private,Rural,73.36,28.8,never smoked,0

In [41]:
data["stroke"].value_counts()

stroke
0    14672
1      632
Name: count, dtype: int64

In [42]:
# missing values
data.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 15304 non-null  int64
 1   gender             15304 non-null  object
 2   age                15304 non-null  float64
 3   hypertension       15304 non-null  int64
 4   heart_disease      15304 non-null  int64
 5   ever_married       15304 non-null  object
 6   work_type          15304 non-null  object
 7   Residence_type     15304 non-null  object
 8   avg_glucose_level  15304 non-null  float64
 9   bmi                15304 non-null  float64
 10  smoking_status     15304 non-null  object
 11  stroke             15304 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 1.4+ MB

In [44]:
data.sample(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
6093,6093,Male,41.0,0,0,Yes,Private,Rural,71.06,31.0,never smoked,0
1180,1180,Female,56.0,1,0,Yes,Govt_job,Rural,59.20,28.4,never smoked,0
7983,7983,Male,9.0,0,0,No,children,Rural,69.20,17.7,Unknown,0
13685,13685,Male,17.0,0,0,No,Private,Urban,63.82,40.7,never smoked,0
10741,10741,Female,25.0,0,0,Yes,Private,Urban,88.33,20.0,Unknown,0
4472,4472,Female,44.0,0,0,No,Self-employed,Rural,85.12,29.6,Unknown,0
9339,9339,Female,30.0,0,0,No,Private,Urban,90.87,34.3,never smoked,0
2872,2872,Female,23.0,0,0,No,Private,Urban,80.27,21.8,smokes,0
11216,11216,Female,14.0,0,0,No,Private,Rural,84.21,31.5,never smoked,0
9295,9295,Female,60.0,0,0,Yes,Private,Rural,60.60,35.7,never smoked,0

In [45]:
data = data.drop("id", axis=1)
data.sample(10)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
10202,Male,44.0,0,0,Yes,Private,Urban,93.93,34.2,never smoked,0
5541,Male,57.0,0,0,Yes,Private,Urban,73.72,30.1,never smoked,0
6221,Female,8.0,0,0,No,children,Rural,73.89,20.9,Unknown,0
9567,Male,80.0,1,0,Yes,Private,Urban,111.36,30.0,never smoked,0
2966,Female,13.0,0,0,No,children,Rural,75.09,23.5,Unknown,0
8836,Female,45.0,0,0,Yes,Private,Urban,55.67,21.1,never smoked,0
8377,Female,35.0,0,0,Yes,Private,Rural,69.24,41.2,never smoked,0
2766,Male,43.0,0,0,Yes,Govt_job,Urban,71.32,31.3,formerly smoked,0
1986,Female,59.0,0,0,Yes,Self-employed,Urban,81.00,25.3,formerly smoked,0
12432,Female,53.0,0,0,Yes,Private,Rural,81.44,39.8,smokes,0

In [46]:
data["work_type"].value_counts()

work_type
Private          9752
children         2038
Self-employed    1939
Govt_job         1533
Never_worked       42
Name: count, dtype: int64

In [47]:
data["smoking_status"].value_counts()

smoking_status
never smoked       6281
Unknown            4543
formerly smoked    2337
smokes             2143
Name: count, dtype: int64

In [48]:
data["Residence_type"].value_counts()

Residence_type
Rural    7664
Urban    7640
Name: count, dtype: int64

In [49]:
data.sample(10)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
10527,Female,79.0,0,0,Yes,Govt_job,Urban,95.31,24.8,smokes,1
7695,Female,80.0,0,0,Yes,Self-employed,Urban,125.32,32.9,never smoked,0
199,Male,36.0,0,0,Yes,Private,Rural,72.76,26.4,smokes,0
5557,Male,79.0,0,0,Yes,Self-employed,Urban,73.00,27.5,never smoked,0
14930,Female,41.0,0,0,Yes,Private,Urban,87.98,24.4,formerly smoked,0
3227,Female,12.0,0,0,No,children,Rural,116.62,20.1,never smoked,0
3657,Male,4.0,0,0,No,children,Urban,123.49,17.6,Unknown,0
10749,Male,38.0,0,0,Yes,Private,Rural,103.58,35.8,formerly smoked,0
4153,Male,52.0,0,0,Yes,Private,Rural,60.70,30.4,smokes,0
10894,Female,16.0,0,0,No,Private,Rural,70.30,20.2,never smoked,0

In [50]:
data["age"].unique

<bound method Series.unique of 0        28.0
1        33.0
2        42.0
3        56.0
4        24.0
         ...
15299    22.0
15300    46.0
15301    75.0
15302    46.0
15303    14.0
Name: age, Length: 15304, dtype: float64>

In [51]:
data["gender"].value_counts()

gender
Female    9446
Male      5857
Other        1
Name: count, dtype: int64

In [52]:
data["avg_glucose_level"].unique

<bound method Series.unique of 0         79.53
1         78.44
2        103.00
3         64.87
4         73.36
          ...
15299     72.63
15300    101.19
15301     87.69
15302    101.13
15303     85.12
Name: avg_glucose_level, Length: 15304, dtype: float64>

In [53]:
data["bmi"].unique

<bound method Series.unique of 0        31.1
1        23.9
2        40.3
3        28.8
4        28.8
         ...
15299    19.5
15300    32.1
15301    26.2
15302    22.5
15303    24.7
Name: bmi, Length: 15304, dtype: float64>

In [54]:
data["smoking_status"].value_counts()

smoking_status
never smoked       6281
Unknown            4543
formerly smoked    2337
smokes             2143
Name: count, dtype: int64

In [55]:
data.sample(10)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
12827,Female,28.0,0,0,Yes,Self-employed,Rural,104.55,41.5,smokes,0
12582,Female,78.0,0,0,Yes,Private,Rural,78.88,23.4,Unknown,0
14121,Female,35.0,0,0,Yes,Private,Rural,74.26,29.6,never smoked,0
11770,Male,2.0,0,0,No,children,Rural,57.30,23.0,Unknown,0
11280,Female,18.0,0,0,No,Private,Rural,112.35,21.6,never smoked,0
9579,Female,60.0,0,0,Yes,Private,Urban,95.81,27.3,never smoked,0
6259,Male,2.0,0,0,No,children,Rural,95.62,22.7,Unknown,0
12363,Female,30.0,0,0,Yes,Private,Urban,93.25,24.3,never smoked,0
9562,Male,52.0,0,0,Yes,Private,Urban,69.12,29.5,never smoked,0
11075,Female,18.0,0,0,No,Private,Rural,98.07,38.8,never smoked,0

In [56]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
age,15304.0,41.417708,21.444673,0.08,26.0,43.00,57.00,82.0
hypertension,15304.0,0.049726,0.217384,0.00,0.0,0.00,0.00,1.0
heart_disease,15304.0,0.023327,0.150946,0.00,0.0,0.00,0.00,1.0
avg_glucose_level,15304.0,89.039853,25.476102,55.22,74.9,85.12,96.98,267.6
bmi,15304.0,28.112721,6.722315,10.30,23.5,27.60,32.00,80.1
stroke,15304.0,0.041296,0.198981,0.00,0.0,0.00,0.00,1.0

In [57]:
data.nunique()

gender                  3
age                   106
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    3740
bmi                   407
smoking_status          4
stroke                  2
dtype: int64

In [58]:
data.duplicated().sum()

np.int64(0)

In [59]:
data["age"] = np.ceil(data["age"])
test_data["age"] = np.ceil(data["age"])

In [60]:
data.sample(10)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
12646,Male,41.0,0,0,Yes,Private,Rural,83.85,29.7,never smoked,0
4043,Female,39.0,0,0,Yes,Self-employed,Urban,66.55,23.0,Unknown,0
13249,Female,2.0,0,0,No,children,Rural,95.94,23.6,Unknown,0
11747,Female,27.0,0,0,No,Govt_job,Urban,112.06,27.0,never smoked,0
3258,Male,58.0,0,0,Yes,Private,Urban,81.26,27.6,Unknown,0
11704,Male,65.0,0,0,Yes,Private,Urban,107.06,30.1,never smoked,0
2800,Female,65.0,0,0,Yes,Private,Urban,89.77,34.2,never smoked,0
1045,Female,39.0,0,0,Yes,Private,Urban,57.63,39.7,Unknown,0
9154,Male,21.0,0,0,No,Private,Urban,111.73,29.4,never smoked,0
3080,Male,44.0,0,0,Yes,Private,Urban,104.23,25.4,formerly smoked,0

In [61]:
test_data.sample(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
928,16232,Female,8.0,0,0,Yes,Private,Rural,83.16,28.2,never smoked
2238,17542,Female,81.0,0,0,Yes,Private,Urban,98.55,28.8,formerly smoked
8845,24149,Male,66.0,0,0,Yes,Private,Urban,77.93,28.0,never smoked
9066,24370,Male,17.0,0,0,Yes,Private,Rural,81.31,26.5,never smoked
878,16182,Male,18.0,0,0,Yes,Self-employed,Urban,74.43,26.4,never smoked
790,16094,Female,45.0,0,0,Yes,Private,Urban,112.19,22.1,never smoked
5858,21162,Female,59.0,0,0,Yes,Private,Urban,89.68,22.6,Unknown
5447,20751,Female,39.0,0,0,Yes,Private,Urban,67.68,24.8,formerly smoked
9349,24653,Female,68.0,0,0,Yes,Private,Urban,93.24,22.7,never smoked
2025,17329,Female,46.0,0,0,Yes,Self-employed,Urban,86.30,36.1,Unknown

In [62]:
test_data = test_data.drop("id", axis=1)
test_data.sample(10)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
5196,Male,50.0,0,0,No,children,Urban,90.00,19.4,Unknown
9604,Male,49.0,0,0,Yes,Private,Rural,91.98,22.2,smokes
9209,Male,79.0,0,0,Yes,Private,Urban,60.67,25.4,formerly smoked
7697,Female,57.0,0,0,Yes,Govt_job,Urban,93.21,23.4,formerly smoked
5809,Female,81.0,0,0,No,Private,Rural,76.57,23.0,Unknown
4294,Male,59.0,0,0,Yes,Private,Urban,103.72,26.6,Unknown
4280,Female,25.0,0,0,Yes,Govt_job,Rural,82.08,34.1,never smoked
9718,Female,33.0,0,0,Yes,Govt_job,Urban,68.78,29.5,Unknown
8548,Female,78.0,0,0,Yes,Self-employed,Rural,82.62,28.5,Unknown
5019,Male,76.0,0,0,No,Private,Rural,63.28,40.2,never smoked